# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml

.idea/*
!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

# gradle
build
.gradle
logs

# other
eclipse
run
.vscode
runs
